@using Radzen.Blazor
@inherits LayoutComponentBase
<RadzenNotification />
<RadzenDialog />
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>ChemicalLaboratory</PageTitle>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


